.square_btn{
    display: inline-block;
    margin: 10px;
    padding: 7px 20px;
	  border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    font-weight: 600;
    transition: .4s;
}

.square_btn:hover {
    color: #666;
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.reset {
  margin: 20px 0px;
  font-weight: bold;
}
